<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ama.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="merchant_url"
            android:value="https://airless-shout.000webhostapp.com/" />
        <meta-data
            android:name="MT_client_key"
            android:value="SB-Mid-client-z3cWozTaV56piZD7" />

        <activity android:name=".Order_1" />
        <activity android:name=".registrasi" />
        <activity android:name=".login" />
        <activity android:name=".BookingListActivity" />
        <activity android:name=".DetailBookingActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".MyOrderDetailActivity" />
        <activity android:name=".BantuanActivity" />
        <activity android:name=".TentangActivity"></activity>
    </application>

</manifest>